@{
    ViewData["Title"] = "Update";
}
<div class="text-center">
    <h2 class="display-4">Изменение склада</h2>
</div>
<form method="post">
    <div class="row">
        <div class="col-4">Название:</div>
        <div class="col-8"><input type="text" name="name" id="name" value="@ViewBag.Name" /></div>
    </div>
    <div class="row">
        <div class="col-4">ФИО ответственного:</div>
        <div class="col-8"><input type="text" name="responsibleFIO" id="responsibleFIO" value="@ViewBag.ResponsibleFIO" /></div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4"><input type="submit" value="Сохранить" class="btn btnprimary" /></div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Компонент
            </th>
            <th>
                Количество
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var component in ViewBag.StoreHouseComponents)
        {
            <tr>
                <td>
                    @component.Item1
                </td>
                <td>
                    @component.Item2
                </td>
            </tr>
        }
    </tbody>
</table>